
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/mhook.vcxproj.filters
/mhook.sdf
/mhook-test.sdf
/mhook.opensdf
/pom/include/target
/pom/x64-windows-static-mt-msvc10-debug/target/
/pom/x64-windows-static-mt-msvc10-release/target/
/pom/x64-windows-static-mt-msvc11-debug/target
/pom/x64-windows-static-mt-msvc11-release/target
/pom/x86-windows-static-mt-msvc10-debug/target
/pom/x86-windows-static-mt-msvc10-release/target
/pom/x86-windows-static-mt-msvc11-release/target
